body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #2262b6;
    transition: 0.5s;
}

.header {
    background-color: #33adff;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.content {
    text-align: center;
    margin-top: 60px;
}

.logo {
    float: left;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    width: 34;
}

/* Stile per il menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu h2 {
    margin-bottom: 10px;
    color: #333;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #333;
    text-decoration: none;
}

.menu a:hover {
    color: #2262b6;
}

/* Immagine */

.image-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.image-container {
    flex: 0 0 auto;
    margin: 200px 10px;
}

.image-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

#copyButton, #copyCodeButton {
    padding: 10px 20px;
    background-color: #33adff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#copyCodeButton {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #33adff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copyCodeButton:hover {
    background-color: #2262b6;
    transition: 0.5s;
}

#codeSnippet1 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet2 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet3 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet4 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet5 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet6 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet7 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet8 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet9 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet10 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet11 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet12 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#codeSnippet13 {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Top */

.top-arrow {
    position: fixed;
    bottom: 120px;

    left: 20px;
    right: 20px;
    z-index: 999;
    background-color: #33adff;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.top-arrow:hover {
    background-color: #2262b6;
    transition: background-color 0.3s ease;
}

.title {
    text-align: center;
    margin-top: 50px;
}

.centered-title {
    font-size: 36px;
    color: #333; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Stile per dispositivi desktop */
.desktop .menu {
    position: absolute;
    top: 250px;
    left: 0;
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Stile per dispositivi smartphone */
@media only screen and (max-width: 768px) {
    .desktop .menu {
        position: static;
        width: auto;
        margin-top: 10px;
    }
}
